.ipynb_checkpoints/
venv/
.venv/
.idea/
*.iml
__pycache__/
*.pyc
thumbs.db
dist/
build/
*.egg-info/
*.log
*.swp
data/processed/abstract_embeddings.npy
data/processed/cleaned_dataframe.parquet
data/processed/prepared_dataframe.parquet
data/processed/kg_original_data.gexf